* {
  vertical-align: top;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #D9C091;
  font-family: Futura, Helvetcia, Arial, sans-serif;
              -webkit-font-smoothing: antialiased;
}

/* Header Section*/

header {
  height: 100px;
  width: 100%;
  background: #466673;
  text-align: center;
  color: #fff;
}

h1 {
   text-shadow: 1px 1px 2px #504135;
}

h3 {
   text-shadow: 1px 1px 2px #504135;
}
/* End Header Section*/


.wrapper {
  min-height:100%;
  position:relative;
}

.container {
  margin: 0 auto;
  width: 1100px;
}
/* Begin main section stylings*/

.users-list {
  display: inline-block;
  margin-top: 10px;
  height: 545px;
  width: 32%;

}

.left-column {
  margin-top: 10px;
  height: 545px;
  width: 32%;
  display: inline-block;
}

.middle-column {
  margin-top: 10px;
  height: 545px;
  width: 32%;
  display: inline-block;
}

h2 {
  color: #fff;
}

.left-column h2{
  position: relative;
  top: 7px;
  left: 60px;
  font-size: 18px;
  margin-bottom: 30px;
}

.middle-column h2 {
  margin: 23px 46px;
  font-size: 18px;
}

.users-list h2 {
  margin: 23px 100px;
  font-size: 18px;
  text-decoration: underline;
}

li {
  color: #fff;
  margin-left: 20px;
}

input {
  width: 140px;
  height: 30px;
  margin-left: 90px;
  margin-bottom: 10px;
}

.middle-column p {
  margin-top: -15px;
  text-indent: 2em;
  color: #fff;
  font-size: 22px;
}

/* Footer*/

footer {
  height: 100px;
  width: 100%;
  position: absolute;
  background: #466673;
  text-align: center;
  color: #fff;
  bottom: 0;
  left: 0;
}

footer h3{
  text-align: center;
}

/* Button Stylings */

.button {
  margin-left: 100px;
  -webkit-box-shadow:inset 0px 0px 8px 1px #dcecfb;
  box-shadow:inset 0px 0px 8px 1px #dcecfb;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bedaf7), color-stop(1, #7197bd) );
  background-color:#bedaf7;
  -webkit-border-top-left-radius:12px;
  border-top-left-radius:12px;
  -webkit-border-top-right-radius:12px;
  border-top-right-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-left-radius:12px;
  text-indent:0px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Georgia;
  font-size:15px;
  font-weight:bold;
  font-style:italic;
  height:35px;
  line-height:35px;
  width:120px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b1cce8), color-stop(1, #2e71b3) );
  background:-moz-linear-gradient( center top, #b1cce8 5%, #2e71b3 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1cce8', endColorstr='#2e71b3');
  background-color:#b1cce8;  
}

.button:active {
  position:relative;
  top:1px;
}

.Button-2{
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 2px 1px #810e05;
  height: 53px;
  width: 140px;
  position: absolute;
  bottom: 12;
  left: 180;
  line-height: 3;
  font-size: 20;
  font-family: 'Press Start 2P';
  color: white;
  border-radius: 13;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #8F423B) );
  background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color: #FFFFFF;
}

.Button-2:hover {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color:#f24537;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color:#c62d1f;
  position:absolute;
}

.Button-2:active {
  bottom:0px;
}

/* Modal Stylings*/

.modal {
  background: rgba(0,0,0,0.0); 
  z-index:2;
  top: 0; 
  left: 0;
  bottom:0;
  right:0;
  height: 0;
  overflow:hidden;
  transition: background 0.4s ease;
}
 
.modal-active {
  background: rgba(0,0,0,0.5); 
  position:  fixed; 
  height: auto;
}
 
.modal-active .modal-box {
  opacity: 1;
 
}
 
.modal-box {
  opacity: 0;
  height:200px;
  width:500px;
  text-align: center;
  position: relative;
  border-radius:5;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 2px #585858;
  transition: all 0.5s ease;
}

.modal-box p {
  color: #000;
}

.active {
  height:117px;
  width:520px;
  margin-right:277px;
  margin-top:74px;
  float:right;
  -webkit-transition:height 1.2s ease;
  background: grey;
}

.warning {
  background:yellow;
  -webkit-input-placeholder {
    color: white; }
}
